body {
    font-family: "Ubuntu";
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat-Bold";
}

/*Font Weights*/
.fw-550 {
    font-weight: 550;
}

/*Margins*/
.mb-7 {
    margin-bottom: 7rem;
}


/*Borders*/
.border-radius-left {
    border-radius: .25rem 0rem 0rem .25rem;
}

.border-radius-right {
    border-radius: 0rem .25rem .25rem 0rem;
}

.no-border-radius {
    border-radius: 0;
}

.no-border-right {
    border-right: none;
}

.border-right-15 {
    border-radius: 0% 15% 15% 0% !important;
}

.no-border-bottom {
    border-bottom: none;
}

.no-border-left {
    border-left: none;
    border-top-left-radius: initial;
    border-bottom-left-radius: initial;
}

@media (min-width: 758px) {
    .media-no-border-radius-left {
        border-radius: 0rem .25rem .25rem 0rem;
    }
}


.border-orange {
    border: 2px solid orange;
}




/*Home Page*/

.nav-link {
    font-family: "Montserrat-Light";
    font-size: 1.1rem;
}

.dropdown-no-border {
    border: none;
}

.hero-heading {
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;

}


/*Navbar and title Section*/
.search-append {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

/*For none-home pages*/
.navbar-style .navbar-nav .nav-link {
    color: white;
}

.orange-hover a:hover {
    color: orange;
}

.navbar-light .navbar-nav .nav-item a:hover {
    color: #fe7929;
}

/*For none-home pages*/
.navbar-style .navbar-nav .nav-item a:hover {
    color: #fe7929;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.header-section {
    color: #fff
}

/*Navbar bgcolor page scroll*/
nav.navbar {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.navbar-dark {
    background-color: #2F4858;
    border-color: #fff;
}

.navbar-light .navbar-toggler {
    border-color: orange !important;
}

/*For non-home pages*/
.navbar-style .navbar-toggler {
    border-color: orange !important;
}

#title {

    background-image: url(../img/home.jpg) !important;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    -webkit-box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .5);
    padding-top: 1rem !important;
    color: #fff;
    text-align: left;
}

#title .container-fluid {
    padding: 3% 15% 7%;
}

.navbar-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/*Logo*/
.nav__logo {
    max-width: 10rem;
}


@media (max-width: 405px) {
    .nav__logo {
        max-width: 6rem !important;
    }

    .search-placeholder {
        font-size: x-small;
        padding-left: 0.2rem;
    }
}


/*Top nav items*/
@media (min-width: 405px) {
    .search-placeholder {
        margin-top: 0.1rem;
    }
}

@media (min-width: 630px) {
    .nav__search {
        margin-left: 10rem !important;
    }
}

@media (min-width: 750px) and (max-width: 850px) {
    .nav__search {
        margin-left: 17rem !important;
    }
}

@media (min-width: 851px) and (max-width: 991px) {
    .nav__search {
        margin-left: 24rem !important;
    }
}

@media (min-width: 992px) and (max-width: 1100px) {
    .nav__search {
        margin-left: 3rem !important;
    }
}

@media (min-width: 1101px) and (max-width: 1349px) {
    .nav__search {
        margin-left: 8rem !important;
    }
}


@media (min-width: 1350px) {
    .nav__search {
        margin-left: 23rem !important;
    }
}

.nav-item {
    padding: 0 18px;
}


.jumbotron {
    padding-top: 6rem;
}

/*Title*/
.hero-heading {
    font-family: "Montserrat-Black";
    font-size: 2.8rem;
    line-height: 1.5;
}

@media (max-width: 900px) {
    .hero-heading {
        font-size: xx-large;
    }
}

.position-margin {
    max-width: 8.1rem;
}

@media (max-width: 575px) {
    .position-margin {
        left: 1.25rem;
    }
}


@media (max-width: 730px) {
    .min-width-location {
        min-width: 20.8rem;
    }
}

@media (min-width: 576px) and (max-width: 730px) {
    .min-width-location {
        min-width: 22rem;
    }
}

@media (max-width: 730px) {
    .min-width-select {
        min-width: 22rem;
    }
}

@media (max-width: 670px) {
    .center-search-margin {
        margin: auto !important;
    }
}


.orange-text {
    color: #fe7929;
}

@media (max-width: 575px) {
    .mobile-property-margin {
        margin: auto 2.5rem;
    }
}

.properties-body {
    margin-bottom: 3%;
}


h2.properties-h2 {
    color: #fe7929;
    font-size: 26px;
    font-weight: 550;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin: 3rem auto 3rem;
}

h2.properties-h2::after {
    content: "";
    width: 100px;
    position: absolute;
    margin: 0 auto;
    height: 4px;
    background: rgba(0, 0, 0, 0.2);
    left: 0;
    right: 0;
    bottom: -20px;
}

.h3block-size {
    font-size: 1.2rem;
    font-weight: 500;
}

/*Property Cards*/

.card-img-top {
    max-width: 100%;
    display: block;
    height: 11rem;
}

h6.price-tag {
    font-weight: 600;
    font-size: 1.3rem;
}

.font-small {
    font-size: 0.8rem !important;
}


.card-title {
    text-align: center;
}


/* CTA Section */

.container-pad {
    padding: 3% 2% 2%;
}

.gradient-colored-section {
    background: linear-gradient(45deg, #687698 0%, #2F4858 50%, #fe7929 100%);
    color: #fff;
}

.cta-heading {
    font-family: "Montserrat-Black";
    font-size: 2.5rem;
    line-height: 1.5;
}

@media (max-width: 400px) {
    .cta-heading {
        font-size: 2rem;
    }
}

/*Buttons*/
.btn-warning {
    background-color: #D45600;
}

.btn-warning:hover {
    background-color: #fe7929;
}

.bg-orange {
    background-color: #D45600;
}

/*
.bg-purple {
    background-color: #7F5896;
}
*/


.more-all-footer {
    padding: 0.2rem 0.4rem;
    font-size: 1.2rem;
}

@media (max-width: 500px) {
    .more-all-footer {
        font-size: 1.1rem;
    }
}


.agent-cta-button {
    margin: 2% 3% 5% 0;
}

a .agent-cta-button:hover {
    color: #fe7929;
}


/*Footer Section*/

footer {
    font-family: Roboto, sans-serif;
    font-weight: 300;
}


.bg-footer-color {
    background-color: #212529 !important;
}


footer.page-footer {
    bottom: 0;
}

footer.page-footer a {
    color: #fff;
}

footer.page-footer a:hover {
    color: orange;
    text-decoration: none;
}




/*Product Page*/

.title-copy {
    text-align: left;
}

h1 {
    font-size: 2rem;
}

@media (max-width: 767px) {
    h1 {
        font-size: 1.6rem;
    }
}

.agent-link {
    color: #7F5896;
}

a.agent-link:hover {
    color: orange;
    text-decoration: none;
}

.text-design {
    text-decoration: underline;
}

.top-caption {
    caption-side: top;
    color: inherit;
}


.screen-width {
    max-width: -webkit-fill-available;
}

@media (max-width: 991px) {
    .small-flex-display {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        margin-top: 1.5rem !important;
    }

    .margin-left-mobile {
        margin-left: 0.6rem !important;
    }
}

@media (max-width: 575px) {
    .small-flex-display {
        display: -webkit-inline-block;
        display: -ms-inline-block;
        display: inline-block;
        margin-top: 1.5rem !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .margin-lg-images {
        margin-left: 3rem !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .margin-lg-images {
        margin-left: 3.4rem !important;
    }
}


.short-image {
    max-height: 8rem !important;
}



/* Carousel styling */

@media (max-width: 576px) {
    .container-xs-width {
        max-width: 70%;
    }
}

.carousel .item h4 {
    font-family: 'Varela Round', sans-serif;
}

.carousel .item img {
    max-width: 100%;
    display: inline-block;
    min-height: 115px;
}

.carousel .item .btn {
    border-radius: 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 6px 15px;
    margin-top: 5px;
}

.carousel .item .btn i {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}

.carousel .thumb-wrapper {
    background: #fff;
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    padding: 0.5rem !important;
}

.carousel .thumb-content {
    font-size: 13px;
}

.carousel .carousel-control {
    height: 44px;
    width: 44px;
    background: none;
    margin: auto -3rem;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.8);
}

.carousel .carousel-control i {
    font-size: xx-large;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -19px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    font-weight: bold;
}

.carousel-indicators {
    bottom: -1.5rem;
}

.carousel-indicators li,
.carousel-indicators li.active {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border-color: transparent;
}

.carousel-indicators li {
    background: #ababab;
}

.carousel-indicators li.active {
    background: #555;
}

.fs-11 {
    font-size: 1.1rem;
}

.fs-08 {
    font-size: 0.8rem;
}